<div class="tictactoe-container">
  <h2>Game Id: <%= @game.id %></h2>
  <input type="hidden" id="tictactoe-game-id" value="<%= @game.id %>">
  <h2 id="tictactoe-player-move"><%= @game.player1_turn ? "X" : "O" %>'s move</h2>
  <div class="tictactoe-game-board">

    <% @game_display.each do |row| %>
    <div class="tictactoe-row">
      <% row.each do |space_char| %>
      <div class="tictactoe-space <%= /\d/.match(space_char) ? "hidden" : "" %>"><p><%= space_char %></p></div>
      <% end %>
    </div>
    <% end %>

  </div>
  
</div>